@media(max-width:767px) {

    .center {
        padding-left : 16px;
        padding-right: 16px;
    }

    .starheader__1 {
        display: none;
    }

    .starheader__mob {
        display : block;
        position: absolute;
        right   : 0;
        overflow: hidden;
    }

    .starheader__2 {
        padding : unset;
        position: absolute;
        width   : 39px;
        top     : 580px;
        left    : 303px;
    }

    .starheader__3 {
        padding : unset;
        position: absolute;
        width   : 18px;
        top     : 557px;
        left    : 272px;

    }

    .starheader__4 {
        padding : unset;
        position: absolute;
        width   : 35px;
        top     : 97px;
        left    : 37px;
    }

    .starheader__5 {
        padding : unset;
        position: absolute;
        width   : 21px;
        top     : 64px;
        left    : 91px;
    }



    .header-block {

        display       : flex;
        flex-direction: column;
        flex-wrap     : wrap;
        align-items   : center;

        &__title {
            font-size  : 40px;
            text-align : center;
            padding-top: 147px;
            max-width  : 376px;
        }

        &__discription {
            font-size : 16px;
            text-align: center;
            width     : 296px;
        }

        &__link {
            margin-top: 36px;
            width     : 285px;
            height    : 55px;
            font-size : 16px;
        }
    }

    .highlight {
        font-size  : 16px;
        line-height: 100%;
    }

    .starblockgame__1 {
        display: none;
    }

    .starblockgame__2 {
        display: none;
    }

    .starblockgame__3 {
        display: none;
    }

    .block-game {
        display: none;
    }

    .starblockminigame__1 {
        display: none;
    }

    .starblockminigame__2 {
        display: none;
    }

    .starblockminigame__3 {
        display: none;
    }

    .starblockminigame__4 {
        display: none;
    }


    .block-minigame {

        padding-bottom: 48.88px;

        &__header {
            margin-top: 48px;
        }

        &__game {
            display       : flex;
            flex-direction: column;
            flex-wrap     : wrap;
            align-items   : center;
        }

        &__header {
            font-size: 40px;
        }

        &__form {
            flex-direction: column;
            align-items   : center;
            max-width     : 343px;
            height        : auto;
        }

        &__divcontent {
            order : 1;
            margin: 29.04px 29.04px 29.04px 32.67px;
        }

        &__img {
            width : 100%;
            height: auto;
        }

        &__title {
            font-size : 32px;
            margin-top: unset;
        }

        &__discription {
            font-size  : 16px;
            margin-top : 16px;
            line-height: 100%;
        }

        &__discription_mob {
            max-width : 285px;
            max-height: 60px;
        }

        &__link {
            width    : 285px;
            height   : 55px;
            font-size: 16px;

        }


    }

    .footer {
        height: 100px;

        &__title {
            font-size  : 16px;
            padding-top: 40px;
        }
    }


    .running-line__content {
        animation: move 30s linear infinite;
    }




}